:root {
    --spacing: 20px;
}

@media (min-width: 768px) {
    :root{
        --spacing: 60px;
    }
}

header{
    margin-bottom: calc(var(--spacing) * 2);
}

figure{
    margin-bottom: calc(var(--spacing) * 2);
    width: 80vw;
    padding: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 220, 220);
}