@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100;300;400;700&display=swap');

body{
    background-color: #200D09;
    color: rgb(157, 163, 168);
    font-family: 'Libre Baskerville', serif;
}

p{
    font-size: 40px;
}

a, a:visited{
    color: #1E2318;
    text-decoration: none;
}

a:hover{
    color: #624C7D;
}

em:hover{
    color: #624C7D;
}

div.fixed {
    position: fixed;
    bottom: 0;
    color: rgb(157, 163, 168);
    background-color: #200D09;
    width: 2000px;
}

@media only screen and (max-width: 375px) {
	p{
		font-size: 30px;
        padding: auto;
	}
}