body{
    background-color: rgb(99, 132, 128);
}

h1{
    text-align: center;
    color: rgb(64, 54, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500px;

}

h2{
    text-align: center;
    color: rgb(226, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

p{

    color: olivedrab;
    text-decoration: none;
    font-size: 30px;
}