@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rubik+Iso&display=swap');

:root{
    --spacing: 2vh;
    --background-color: white;
    --font-family: 
    --weight: 700;
    --font: Arial, Helvetica, sans-serif;
    --border: 5vh;
    --margin: 5vh;
}

body{
    background-color: white;
    border: var(--border);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-bottom: var(--spacing);
}

.content{
    margin: calc(2 * var(--spacing));
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: calc(4 * var(--spacing));
    padding-left: calc(4 * var(--spacing));
}

h1{
    padding: 1vh;
    font-size: 10vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 5vh;
    text-align: center;
}

p{
    text-align: center;
}

a{
    color: #232875;
}

a:hover{
    color: #CB4635;
}

figcaption{
    padding-top: 3vh;
    padding-bottom: 7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: var(--spacing);
    text-align: var(--center);
}


/* third artwork */

figure.three{
    display: block;
    height: 60vw;
    width: 60vw;
    margin: var(--margin);
    overflow: hidden;
    background-color: #F7F9EF;
    margin-left: auto;
    margin-right: auto;
}


.circle {
    height: 50vw;
    width: 50vw;
    background: linear-gradient( to bottom, #232875 54%, #CB4635 54% 100% );    
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 5vw;
  }

.redbar{
    position: relative;
    height: 5vw;
    width: 25vw;
    background-color: #CB4635;
    margin-top: -25vw;
    margin-left: 5vw;
    border-radius: .3vw 0vw 0vw 4vw;

}

@media screen and (max-width: 1200px){
    body{
      background-color: rgb(217, 217, 217);
      color: rgb(2, 0, 63);
    }

    .circle{
        background: linear-gradient( to bottom, #072809 54%, #415800 54% 100% );  
    }
    .redbar{
        background-color: #415800; 
    }
  }

@media screen and (max-width: 600px){
    body{
      background-color: rgb(39, 91, 118);
      color: rgb(39, 4, 4);
    }

    .circle{
        background: linear-gradient( to bottom, #05072f 54%, #46120b 54% 100% );  
    }
    .redbar{
        background-color: #46120b; 
    }
  }


