@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rubik+Iso&display=swap');

:root{
    --spacing: 10vh;
    --background-color: white;
    --margin: 0 auto;
    --font-family: Georgia, 'Times New Roman', Times, serif;
    border: 9vh;
}

body{
    background-color: white;
    padding: var(--spacing);
}

header{
    margin-bottom: calc(2 * var(--spacing));
}

.content{
    margin: calc(2 * var(--spacing));
    
}

h1{
    padding: 1vh;
    font-size: 10vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 5vh;
    text-align: center;
}

p{
    text-align: center;
}

a{
    color: #232875;
}

a:hover{
    color: #CB4635;
}

figcaption{
    padding-top: 3vh;
    padding-bottom: 7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* third artwork */

figure.three{
    height: 60vh;
    width: 60vh;
    margin: var(--margin);
    overflow: hidden;
    background-color: #F7F9EF;
    display: flex;
    vertical-align: baseline;
}


.circle {
    height: 50vh;
    width: 50vh;
    background: linear-gradient( to bottom, #232875 54%, #CB4635 54% 100% );    
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 5vh;
  }

.redbar{
    position: relative;
    height: 5vh;
    width: 25vh;
    background-color: #CB4635;
    margin-top: -25vh;
    margin-left: 5vh;
    border-radius: .3vh 0vh 0vh 4vh;

}

@media screen and (max-width: 1200px){
    body{
      background-color: rgb(217, 217, 217);
      color: rgb(2, 0, 63);
    }

    .circle{
        background: linear-gradient( to bottom, #072809 54%, #415800 54% 100% );  
    }
    .redbar{
        background-color: #415800; 
    }
  }

@media screen and (max-width: 600px){
    body{
      background-color: rgb(39, 91, 118);
      color: rgb(39, 4, 4);
    }

    .circle{
        background: linear-gradient( to bottom, #05072f 54%, #46120b 54% 100% );  
    }
    .redbar{
        background-color: #46120b; 
    }
  }


