@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rubik+Iso&display=swap');

:root{
    --spacing: 10vh;
    --background-color: white;
    --margin: 0 auto;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: white;
    padding: var(--spacing);
}

header{
    margin-bottom: calc(2 * var(--spacing));
}

.content{
    margin: 0 auto;
}

h1{
    padding: 1vh;
    font-size: 10vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 5vh;
    text-align: center;
}

p{
    text-align: center;
}

a{
    color: #232875;
}

a:hover{
    color: #CB4635;
}

figcaption{
    padding-top: 3vh;
    padding-bottom: 7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* third artwork */

figure.three{
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F7F9EF;
}


.circle {
    height: 50vh;
    width: 50vh;
    background: linear-gradient( to bottom, #232875 54%, #CB4635 54% 100% );    
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 5vh;
  }

.redbar{
    position: relative;
    height: 5vh;
    width: 25vh;
    background-color: #CB4635;
    margin-top: -25vh;
    margin-left: 5vh;
    border-radius: .3vh 0vh 0vh 4vh;

}
