body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
}
pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 1px;
}