/*

You'll be positioning elements relative to a fluid container. This
  means you might want to use percentages when positioning and sizing elements within
  your frame.
*/


body {
    background-color: lightgrey;
  }
  
  .frame {
    width: 95vw;
    height: 57vw;
    background: white;
    margin: 2.5vw auto;
    position: relative;
  }

.tablecloth{
    width: 45vw;
    height: 20vh;
    background-color: pink;
    position: absolute;
    margin-top: 40vw;
    margin-left: 25vw;
    transform: skew(40deg);
}

.mirror{
    position: relative;
    width: 10vw;
    height: 10vw;
    color: silver;
    border-radius: 50%;
}

.toblerone{
    width: 20vw;
    height: 5vh;
    background-color: silver;
    margin-top: 32vw;
    margin-left: 20vw;
}


  
  
  /* Your CSS goes here */
  