/* Just to make the demo easier to work with. */
@font-face {
    font-family: Kaeru Kaeru ;
    src:url(kaerukaeru-Regular.otf);
}


:root {
	--spacing: 1em;
}

a:hover{
	color: blue;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
	background-color: #F9E14B;
	color: red;
	text-align: center;
}

h1{
	font-family: kaeru kaeru;
	text-align: center;
	font-size: 10vw;
	padding: 3vw;

}

h6{
	text-align: center;
	text-decoration: underline dotted 2px;
	/* animation: marquee 30s linear infinite; */
}




aside { margin-bottom: calc(4 * var(--spacing)); }

/* h1 { font-size: 200%; } */

h2 { font-weight: bold; }

em { font-style: italic }

ul {
	display: grid;
    grid-template-columns: repeat(auto-fit);
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
}

.faded { opacity: 0.333 }

/* 
@keyframes marquee {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  } */


  #collection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 2vw;
	grid-row-gap: 7vw;
  }
  
  figure {
	margin: 0;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  

  @media screen and (max-width: 400px){
    body{
      background-color: rgb(255, 247, 142);
    }
	#collection {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 5vw;
	  }

  }

