/* Just to make the demo easier to work with. */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;600&display=swap');
@font-face {
    font-family: Kaeru Kaeru ;
    src:url(kaerukaeru-Regular.woff);
	src:url(kaerukaeru-Regular.woff2);
}



:root {
	--spacing: 1em;
}



body {
	font-family: 'Hanken Grotesk', sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
	background-color: #F9E14B;
	color: red;
	text-align: center;
}

h1{
	font-family: kaeru kaeru;
	text-align: center;
	font-size: 10vw;
	padding: 3vw;

}


h6{
	text-align: center;
	text-decoration: underline dotted 2px;
	animation: marquee 30s linear infinite;
	color: #F9E14B;
	background-color: red;
	padding: 1vw;
}




aside { margin-bottom: calc(4 * var(--spacing)); }

/* h1 { font-size: 200%; } */

h2 { 
	font-weight: bold;
	font-size: 20px; 
}

em { 
	font-style: italic;
	font-size: 2vw; 
}

ul {
	display: grid;
    grid-template-columns: repeat(auto-fit);
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

h3{
	font-size: 17px;
	font-family: 'Hanken Grotesk', sans-serif;
}

li {
	display: grid;
	gap: var(--spacing);
}

.faded { opacity: 0.333 }


@keyframes marquee {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }

  a:hover{
    color: blue;
}


  #collection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 2vw;
	grid-row-gap: 6vw;
  }
  
  figure {
	margin: 0;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  

  @media screen and (max-width: 400px){
    body{
      background-color: rgb(255, 247, 142);
    }
	#collection {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 7vw;
	  }

	h2{
		font-size: 15px;
	}

	em{
		font-size: 15px;
	}

  }

