/* Just to make the demo easier to work with. */
@font-face {
    font-family: Kaeru Kaeru ;
    src:url(https://github.com/unified-font-repository/Unified-Font-Repository);
}


:root {
	--spacing: 1em;
}



body {
	font-family: Arial, Helvetica, sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
	background-color: #F9E14B;
	color: red;
	text-align: center;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 10vw;
	padding: 3vw;

}

h6{
	text-align: center;
	text-decoration: underline dotted 2px;
	/* animation: marquee 30s linear infinite; */
}

.gallery-img{
    max-width: 30vw;
}

.gallery{
    /* display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit); */
	margin: 4vw;
	display: flex;
	flex-wrap: nowrap;
}


aside { margin-bottom: calc(4 * var(--spacing)); }

/* h1 { font-size: 200%; } */

h2 { font-weight: bold; }

a { color: blue; }

em { font-style: italic }

ul {
	display: grid;
    grid-template-columns: repeat(auto-fit);
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
}

.faded { opacity: 0.333 }

/* 
@keyframes marquee {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  } */


  #image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
  }
  
  figure {
	margin: 0;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  

