<!DOCTYPE html>
<html>
    <head>
        <link href="https://core-interaction.github.io/assets/styles/reset.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="main.css"> 
        <title>layout</title>
    </head>
    <body>
        <h1>Layout Gallery</h1>
        <br>
        <br>
        <figure class="one">
            <div id="ford">
                <p>working really hard the wrong way leaving a mark that destroes pouncr</p>
                <div></div>




            </div>
        </figure>
        <figcaption>
            <pre>Raque Ford
            Leaving a mark that destroys
            2020</pre>
            </figcaption>
        <br>
        <figure class="two">
            
        </figure>
        <br>
        <figure class="three">
            <div class="circle"></div>
            
        </figure>
    </body>
</html>