<!DOCTYPE html>
<html>
    <head>
        <link href="https://core-interaction.github.io/assets/styles/reset.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="main.css"> 
        <title>layout</title>
    </head>
    <body>
        <h1>Layout Gallery</h1>
        <br>
        <br>
        <div class="content">
        <figure class="one">
            <div id="ford">
                <p class="text">working really hard the wrong way leaving a mark that destroes pouncr</p>
                <div class="ate">ATE</div>
                <div class="mast">MASTERB</div>
                <div class="arrow-right"></div>
                <div class="greenblob1"></div>
                <div class="greenblob2"></div>
                




            </div>
        </figure>
        <figcaption>
            <h2>Raque Ford</h2><br>
            <p>Leaving a mark that destroys<br>
            2020
            <br>
            <a href="https://www.moma.org/collection/works/427053?=undefined&direction=fwd&page=3">Original →</a>
            </p>
            </figcaption>
        <br>

        <figure class="two">
            <div class="blackbox"></div>
            <div class="backcircle"></div>
            <div class="insideoval1"></div>
            <div class="insideoval2"></div>
            <div class="spiral"></div>
            <div class="curve"></div>




        </figure>
        <figcaption>
            <h2>Terry Winters</h2><br>
            <p>Cover from Beginning Being an Engine<br>
            2020 
            <br>
            <a href="https://www.moma.org/collection/works/409775?=undefined&direction=fwd&page=4">Original →</a>
            </p>
            </figcaption>
        <br>

        <figure class="three">
            <div class="circle"></div>
            <div class="redbar"></div>
            
        </figure>
        <figcaption>
            <h2>Carmen Herrera</h2><br>
            <p>Tondo: Azul y Rojo<br>
            2019
            <br>
            <a href="https://www.moma.org/collection/works/417804?=undefined&direction=fwd&page=5">Original →</a>
            </p>
            </figcaption>

        <br>
        <br>
        <br>
    </div>

    </body>
</html>