@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body{
    background-color: white;
}

h1{
    padding: 1vh;
    font-size: 45px;
    text-align: center;
}


/* first artwork */

figure.one{
    height: 80vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
}

.greenblob1{
    position: relative;
    height: 30vh;
    width: 30vh;
    background-color: #578B40;
    opacity: 75%;
    margin-left: 25vh;
    margin-top: -18vh;
    rotate: -18deg;
}

.greenblob2{
    position: relative;
    height: 25vh;
    width: 20vh;
    background-color: #578B40;
    opacity: 75%;
    margin-left: 30vh;
    margin-top: 13vh;
    rotate: 25deg;

}

.one{
    background-color: #E5E6D4;
    color: #B0B09F;
    font-size: 5vh;
    font-family: 'Rubik Iso', cursive;
}


/* second artwork */

figure.two{
    height: 80vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FBF7E8;
}

div{
    display: block;
}

.blackbox{
    position: relative;
    height: 35vh;
    width: 30vh;
    background-color: #4F4D49;
    margin-left: 25vh;
    margin-top: 13vh;
}

.backcircle{
    position: relative;
    height: 33vh;
    width: 28vh;
    background-color: #F9F5E5;
    margin-left: 26vh;
    margin-top: -34vh;
    border-radius: 50%;

}

.insideoval1{
    position: relative;
    height: 25vh;
    width: 14vh;
    background-color: #4F4D49;
    margin-left: 31.5vh;
    margin-top: -28vh;
    border-radius: 50%;
    rotate: 70deg;
}

.insideoval2{
    position: relative;
    height: 27vh;
    width: 7vh;
    background-color: #4F4D49;
    margin-left: 38vh;
    margin-top: -28vh;
    border-radius: 50%;
}

/* third artwork */

figure.three{
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F7F9EF;
}


.circle {
    height: 50vh;
    width: 50vh;
    background: linear-gradient( to bottom, #232875 54%, #C84535 54% 100% );    
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
