@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body{
    background-color: white;
}

h1{
    padding: 1vh;
    font-size: 45px;
    text-align: center;
}

figure.one{
    height: 80vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
}

.one{
    background-color: #E5E6D4;
    color: #B0B09F;
    font-size: 5vh;
    font-family: 'Rubik Iso', cursive;
}




figure.three{
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F7F9EF;
}


.circle {
    height: 50vh;
    width: 50vh;
    background: linear-gradient( #232875, #232875 49%, #232875 49%, #C84535 51%, #C84535 51% );    
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }



green 578B40 