@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

:root {
	--spacing: 1em;
}



body {
	font-family: 'Roboto', sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
    background-color: #15181C;
    color: gainsboro;
    
}
.title1{
  width: 115%;
  height: .5vw;
  margin-top: 1vw;
  background-color: black;
  position: relative;
  margin-left: -6vw;

}
.title2{
  width: 115%;
  height: .5vw;
  margin-top: 5vw;
  background-color: black;
  position: relative;
  margin-left: -6vw;
}
/* .title3{
  width: .5vw;
  height: 3vw;
  margin-top: 1vw;
  background-color: black;
  position: relative;
  margin-left: -20vw;

} */

header{
    text-align: center;
    background-color: rgb(255, 247, 215);
    padding: 5vw;
    border: 2vw solid black;
    color: black;
    text-decoration: underline solid black 2px;
    font-family: 'Barlow Condensed', sans-serif;
    box-shadow: 1px 1px 10px #999;
}

aside { margin-bottom: calc(4 * var(--spacing)); }

h1 { 
  font-size: 400%; 
}

p{
  font-family: 'Barlow Condensed', sans-serif;
}

.line{
  width: 100%;
  height: 1vw;
  background-color: black;
}

h2 { 
  /* font-weight: bold; */
  font-size: 125%;
  margin-top: 5vw;
  margin-bottom: 8vw;
  text-align: center;
}

/* .explain{
  max-width: 70ch;
  text-align: center;
  align-content: center;
} */

a { color: rgb(126, 170, 247); }

em { font-style: italic }

main{
    padding: calc(2 * var(--spacing));
}

select{
  background-color: rgb(128, 1, 1);
  border-radius: 30px;
  margin-bottom: 2vw;
}

/* ul {
	display: grid;
    grid-template-columns: repeat(auto-fit);
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
    grid-template-columns: repeat(auto-fit);

} */

ul {
	/* display: grid;
    grid-template-columns: 5fr 5fr 5fr; */
    /* overflow-x: auto;
    width: 600px;
    overflow-y: hidden;
    white-space:nowrap; */
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

li {
	display: grid;
	gap: var(--spacing);
  /* align-content: center; */
  justify-content: center;
  margin: 2vw;
}


.faded { opacity: 0.333 }

img{
  height: 30vw;
  min-width: 20vw;
  box-shadow: 1px 1px 10px #999;
}

.seats{
  width: 100%;
}

select {
  margin-left: calc(var(--spacing) / 4);
  padding: calc(var(--spacing) / 4);
  text-align: center;
  width: fit-content;
}


.tvscreen{
  position: sticky;
  top: 3vw;
  overflow: hidden;
  width: 95vw;

}

.arrows{
  text-align: center;
  background-color: rgb(128, 1, 1);
  border-radius: 20px;
  font-size: 300%;
  margin-bottom: 5vw;
}

footer{
  width: 100%;
  background: rgb(7, 20, 26);
  text-align: center;
  margin-top: 6vw;
}


@media only screen and (min-width: 370px) {
  li{
    width: 50%;
    column-gap: 10vw;
  }
  h1{
    font-size: 200%;
  }
  h2{
    font-size: 105%;
  }
  img{
    height: 60vw;
    min-width: 50vw;
    box-shadow: 1px 1px 10px #999;
  }

}
@media only screen and (max-width: 400px) {
  li{
    width: 50%;
  }
  h1{
    font-size: 200%;
  }
  h2{
    font-size: 105%;
  }
  img{
    height: 60vw;
    min-width: 50vw;
    box-shadow: 1px 1px 10px #999;
  }

}

@media only screen and (min-width: 600px) {
 h1{
  font-size: 400%;
 }
  h2{
    margin: 5vw;
  }
  p{
    line-height: 7px;
  }
  img{
    height: 40vw;
    min-width: 30vw;
    box-shadow: 1px 1px 10px #999;
  }
}

@media only screen and (min-width: 1200px) {
  h2{
    margin-left: 10vw;
    margin-right: 10vw;
  }
  p{
    line-height: 7px;
  }
  img{
    height: 30vw;
    min-width: 20vw;
    box-shadow: 1px 1px 10px #999;
  }
}