@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--spacing: 1em;
}



body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
    background-color: #15181C;
    color: gainsboro;
    
}

header{
    text-align: center;
    background-color: rgb(255, 247, 215);
    padding: 5vw;
    border: 2vw solid black;
    color: black;
    text-decoration: underline solid black 1px;
    font-family: 'Roboto', sans-serif;
}

aside { margin-bottom: calc(4 * var(--spacing)); }

h1 { font-size: 300%; }

h2 { font-weight: bold; }

a { color: blue; }

em { font-style: italic }

main{
    padding: calc(4 * var(--spacing));
}

/* ul {
	display: grid;
    grid-template-columns: repeat(auto-fit);
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
    grid-template-columns: repeat(auto-fit);

} */

ul {
	/* display: grid;
    grid-template-columns: 5fr 5fr 5fr; */
    /* overflow-x: auto;
    width: 600px;
    overflow-y: hidden;
    white-space:nowrap; */
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

li {
	display: grid;
	gap: var(--spacing);
  align-content: center;
  justify-content: center;
  margin: 2vw;
}


.faded { opacity: 0.333 }

img{
  width: 20vw;
  height: auto;
  box-shadow: 1px 1px 10px #999;
}


select {
  margin-left: calc(var(--spacing) / 4);
  padding: calc(var(--spacing) / 4);
  text-align: center;
  width: fit-content;
}


.tvscreen{
  position: sticky;
  top: 3vw;
  overflow: hidden;
  width: 95vw;

}

.arrows{
  text-align: center;
  background-color: blue;
  font-size: 300%;
}