:root{
    --spacing: 20px;
}

@media (min-width: 600px){

}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px min-content 1fr min-content;
    min-height: 100vh;
}

header{
    background-color: rgb(223, 166, 194);
}

h1{
    font-size: 200%;
}

aside{
    background-color: rgb(200, 119, 90);
}

footer{
    background-color: rgb(99, 124, 99);
}

.inset{
    padding: var(--spacing);
}