@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Noto+Sans+JP:wght@300&display=swap');

:root{
    --spacing: 20px;
}

@media (min-width: 600px){

}

html{
    display: block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 150px min-content 1fr min-content;
    min-height: 100vh;
    grid-template-areas: 
        "header"
        "aside "
        "main"
        "footer";
}

header{
    background-color: rgb(238, 214, 226);
    grid-area: header;
    background-image: linear-gradient(to bottom right, rgb(162, 211, 241), rgb(205, 170, 225));
    position: sticky;
    top: 0;
}

h1{
    font-size: 250%;
    text-align: center;
    font-family: 'Nabla', cursive;
    padding: 1vw;
}

aside{
    background-color: rgb(205, 170, 225);
    grid-area: aside;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    border-bottom: 2px solid rgb(12, 19, 61);
    text-align: center;
    display: block;
}


main{
    grid-area: main;
    font-family: 'Noto Sans JP', sans-serif;
    
}

a{
    color: whitesmoke;
}

a:hover{
    color: rgb(6, 5, 91);
}
footer{
    /* background-color: rgb(99, 124, 99); */
    color: #FF682A;
    position: sticky;
    bottom: 0;
    grid-area: footer;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    background-color: #FED82A;
}


.inset{
    padding: var(--spacing);
}

#word-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vw;
    column-gap: 3vw;
    padding: 5%;
}

#word-list li{
    background-color: rgb(162, 211, 241);
    font-size: 150%;
    aspect-ratio: 3;
    /* border-radius: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1200px){
    body{
        grid-template-columns: 3fr;
        grid-template-rows: 150px min-content 3fr min-content;
    }
  }

@media screen and (max-width: 600px){
    body{
        grid-template-columns: 2fr;
        grid-template-rows: 150px min-content 2fr min-content;
    }
  }