@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100;300;400;700&display=swap'); 

body{
    background-color: rgb(1, 2, 18);
    font-family: 'Libre Baskerville', serif;
}

p{
    padding-left: 5%;
    padding-right: 25%;
    padding-bottom: 400px;
    color: aliceblue;
    font-size: 70px;
}

a, a:visited{
    color: #7B2422;
}

a:hover{
    color: #F6EEB9;
}

em:hover{
    color: #F6EEB9;
}

div.fixed {
    position: fixed;
    bottom: 0;
    width: 300px;
    color: aliceblue;
  }

@media only screen and (max-width: 400px) {
	p{
		font-size: 15px;
	}
}
