/* Just to make the demo easier to work with. */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;600&display=swap');
@font-face {
    font-family: Kaeru Kaeru ;
    src:url(kaerukaeru-Regular.woff);
	src:url(kaerukaeru-Regular.woff2);
}

body{
    background-color: rgb(251, 251, 160);
    color: rgb(60, 60, 60);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    padding: 3vw;
}

h1{
    font-size: 200%;
}

header{
    text-align: center;
    padding: 2vw;
}

main{
    font-size: 150%;
}

.im1{
    align-content: center;
    justify-content: center;
    margin-left: 10vw;
    padding-bottom: 3vw;
}

video{
    padding: 5vw;
    align-content: center;
    justify-content: center;
}

.kaeru{
    font-family: Kaeru Kaeru ;
    font-size: 300%;
}

/* .intro{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 2vw;
    grid-column-gap: 2vw;
} */

p{
    text-align: center;
    padding: 2vw;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
    font-size: 200%;
    padding: 5vw;
}

a:hover{
    color: rgb(0, 34, 146);
}

@media screen {
    
}