@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100;300;400;700&display=swap'); 

body{
    background-color: #636B30;
    font-family: 'Libre Baskerville', serif;
    padding-left: 20%;
    padding-right: 20%;
}

p{
    font-size: 30px;
}

a, a:visited{
    color: black; 
    text-decoration: none;
}

a:hover{
    color: #F8DB65;
}

em:hover{
    color: #F8DB65;
}

div.fixed {
    position: fixed;
    bottom: 0;
    color: black;
    left: 0;
  }

@media only screen and (max-width: 600px) {
	p{
		font-size: 15px;
        padding: auto;
	}
}