body{
    background-color: lightsalmon;
    padding: 200px;
}

h1{
    font-size: 45px;
    text-align: center;
    color: wheat;
}
h2{
    text-align: center;
    font-size: 100px;
    color: wheat;
}

h3{
    text-align: center;
    color: wheat;
}