body{
    background-color: rgb(7, 6, 21);
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(500px)
    }
}


.sphere{
    width: 20vh;
    height: 20vh;
    background-color: yellow;
    border-radius: 50%;
    animation: floating 3s infinite alternate ease-in-out;
}

.sphere:hover{
    animation-play-state: paused;
    cursor: pointer;

}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#star{
    width: 20vh;
    color: yellow;
    animation: starspin, fade 4s infinite;
}

@keyframes starspin{
    0%{
        transform: rotate(0turn);
    }

    100%{
        transform: rotate(1turn);
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.cls-1{
    animation: color 2s infinite;
}


@keyframes color{
    0%{
        fill: default;
    }
    100%{
       fill: rgb(255, 255, 255);    
    }
}


.square{
    height: 90vh;
    width: 90vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
}