@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100;300;400;700&display=swap');

body{
    background-color: #E5BF5A;
    color: rgb(17, 21, 58);
    font-family: 'Libre Baskerville', serif;
    padding: 5%;
}

h1{
    font-size: 200px;
    line-height: 175px;
}

h2{
    font-size: 25px;
    padding-left: 45px;
    line-height: 15px;
}

p{
    font-size: 35px;
    padding: 45px;

}
