@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100;300;400;700&display=swap');

body{
    background-color: #E5BF5A;
    color: rgb(17, 21, 58);
    font-family: 'Libre Baskerville', serif;
}

h1{
    font-size: 175px;
    line-height: 175px;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-size: 25px;
    padding-left: 10%;
    line-height: 15px;
}

h1, h2{ 
    color: #18335e;
}

p{
    font-size: 35px;
    padding: 45px;
    padding-left: 20%;
    padding-right: 20%;
}

a {
    color: #010211;
  }

a:visited {
    color: #010211;
  }

a:hover{
    color: #F1F8FE;
}