@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100;1,400&display=swap');

body{
    background-color: rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 60px;
}

h2,h3{
    color: lightgray;
}

h2{
    font-size: 25px;
    line-height: 25px;
}

h3{
    font-size: 15px;
    line-height: 23px;
}

.genre{
    color: rgb(136, 132, 132);
    font-size: 14px;
}