body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25%;
    padding-right: 15%;
}

h1{
    font-size: 70px;
    text-align: right;
}

pre{
    font-family: Arial, Helvetica, sans-serif;
}